<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.zchat.dao.FriendsDao">

    <resultMap id="friendsMap" type="com.zj.zchat.pojo.Friends">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="friendname" column="friendname"/>
    </resultMap>

    <select id="fgetByUsername" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT friendname FROM friends WHERE username =#{username}
    </select>

</mapper>